@inherits LayoutComponentBase

<nav class="navbar fixed-bottom navbar-dark bg-dark justify-content-sm-around px-5">
    <NavLink href="/">Home</NavLink>
    <NavLink href="/gallery">Gallery</NavLink>
    <NavLink href="/likes"><img role="button" src="./Assets/heart.svg" /></NavLink>
</nav>
<div class="bg-dark min-vh-100 pb-5">
    @Body
</div>
