@inherits LayoutComponentBase

<div class="bg-dark min-vh-100 pb-4">
    @Body
</div>

<nav class="navbar fixed-bottom navbar-dark bg-dark justify-content-sm-around px-5  border-top border-secondary shadow-lg">
    <NavLink href="@("." + PageRoutes.Home)"><img src="./Assets/Images/house.svg" /></NavLink>
    <NavLink href="@("." + PageRoutes.Gallery)"><img src="./Assets/Images/gallery.svg" /></NavLink>
    <NavLink href="@("." + PageRoutes.Likes)"><img src="./Assets/Images/heart.svg" /></NavLink>
    <NavLink href="@("." + PageRoutes.History)"><img src="./Assets/Images/history.svg" /></NavLink>
</nav>
