@page "/test"

<h3>Test</h3>

<h1>hello world</h1>
<script>
    var objectName = "1711294016761.jpeg";
    //    var token = "106a6745-6161-4a48-aa33-51fd9e2a98f5";

    var objectPath = "https://firebasestorage.googleapis.com/v0/b/ai-art-f6bde.appspot.com/o/" + objectName;
    fetch(objectPath).then(res => res.json().then(body => {

        console.log(body)
        var token = body.downloadTokens;
        var path = "https://firebasestorage.googleapis.com/v0/b/ai-art-f6bde.appspot.com/o/" + objectName + "?alt=media&token=" + token;

        var image = document.createElement("img");
        image.src = path;
        image.width = "400";
        image.height = "400";
        document.body.appendChild(image);


    }
    ))

</script>



@code {

}
